/* .login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

@media all and (min-width: 480px) {
  .register {
    padding: 60px 0;
  }

  .register form {
    margin: 0 auto;
    max-width: 320px;
  }
}
